<div class="row">
    <div class="col-xs-12">
        <div class ="jumbotron">
            HEADER
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>プロフィール</p>
            </div>
        </div>
    </div>

    <div class="col-xs-6">
    <p>つぶやき</p>
    <% for @t in @twittters %>
    
    <p><%= notice %></p>
        <div class="panel panel-default post-panel">
            <div class="panel-body row">
                
                <div class= "col-sm-11">
                    <p class="post-content"><%= @t.content %></p>
                </div>
            </div>
        </div>
    
    <% end %>
    </div>

    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>＃トレンド</p>
            </div>
        </div>
    </div>
</div>
